.accordin {
  padding: 0;
  margin: 0 !important;
  box-shadow: none !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.03) !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}

.accordin::before {
  display: none;
}
