/* Privacy.module.css */
.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bgColor {
  display: flex;
  width: 100%;
  height: 700px;
  background-color: #f0f5f9;
  margin-top: 60px;
  padding: 50px 10%;
  gap: 50px;
  justify-content: center;
}

.widthHalf {
  width: 50%;
}

.flexRow {
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.line {
  width: 10px;
  background-color: #21bf73;
  height: 120px;
}

.typographyUppercase {
  font-family: "Montserrat" !important;
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 39px !important;
  text-transform: uppercase;
  margin-bottom: 20px !important;
}

.typographyNormal {
  font-family: "Montserrat" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #818198 !important;
  margin-bottom: 10px !important;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flexRowCenter {
  display: flex;
  flex-direction: row !important;
  gap: 15px;
  align-items: center;
}

.iconStyle {
  width: 20px;
  height: 20px;
}

.typographyMedium {
  font-family: "Montserrat";
  font-size: 24px;
}

.emailButton,
.calendlyButton {
  background-color: #21bf73 !important;
  border: 2px solid #21bf73 !important;
  color: white !important;
  border-radius: 5px !important;
  padding: 10px 20px 10px 20px !important;
  cursor: pointer;
  font-size: 16px;
  text-transform: none !important;
  text-decoration: none !important;
}

.emailButton {
  text-align: center;
}

.whiteBg {
  display: flex;
  width: 100%;
  height: 600px;
  background-color: white;
  margin-top: 60px;
  padding: 50px 10%;
}

@media (max-width: 768px) {
  .bgColor {
    flex-direction: column;
    height: auto;
    padding: 50px 5%;
  }

  .widthHalf {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .whiteBg {
    height: auto;
  }

  .line {
    height: 200px;
  }

  .typographyNormal {
    align-self: flex-start;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .bgColor {
    flex-direction: column;
    height: auto;
    padding: 50px 5%;
  }

  .widthHalf {
    width: 100%;
  }

  .whiteBg {
    height: auto;
  }
}

@media (min-width: 1024px) {
  .bgColor {
    flex-direction: row;
    height: 700px;
    padding: 50px 10%;
  }

  .widthHalf {
    width: 50%;
  }

  .whiteBg {
    height: 600px;
  }
}
