.faqContainer {
  display: flex;
  width: 80%;
  background-color: #f0f5f9;
  margin-bottom: 50px;
  align-self: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}

.headingContainer {
  text-align: left;
  width: 60%;
}

.mainHeading {
  font-size: 32px;
  font-weight: 800;
  color: #3a3a47;
  line-height: 1.2;
  margin-bottom: 15px;
}

.subHeading {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #6a7076;
  margin-top: 15px;
  margin-bottom: 25px;
}

.additionalInfo {
  display: inline;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #6a7076;
  margin-top: 15px;
  margin-bottom: 25px;
}

.contactLink {
  margin-left: 10px;
  text-decoration: none;
  color: #047aed;
}

.accordionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 768px) {
  .faqContainer {
    width: 90%;
    padding: 30px;
  }

  .headingContainer {
    width: 100%;
  }

  .accordionGrid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .faqContainer {
    width: 90%;
    padding: 30px;
  }

  .headingContainer {
    width: 100%;
  }

  .accordionGrid {
    grid-template-columns: 1fr;
  }
}
