.aboutTextContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0;
  height: auto;
}

.aboutTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: none;
}

.aboutSubtitle {
  font-size: 32px;
  font-weight: 800;
  color: #383b61;
  line-height: 1.2;
  margin-top: 15px;
}

.aboutDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #818198;
  margin: 0px 0px;
}

.cardTitle {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #383b61;
  margin-bottom: 15px;
}

.cardDescription {
  font-size: 16px;
  font-weight: 500;
  color: rgb(129, 129, 152);
  line-height: 1.6;
  max-width: 320px;
  text-align: left;
}

.box {
  min-height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 10%;
}

.textContainer {
  flex: 0.4;
  text-align: left;
  width: 100%;
}

.cardWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card1,
.card2,
.card3 {
  padding: 20px;
  min-height: 400px;
  width: 30%;
  margin-top: 30px;
}

.card1 {
  background-color: #fff2e5;
}

.card2 {
  background-color: #f8f9fa;
}

.card3 {
  background-color: #f0f5f9;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .box {
    padding: 50px 5%;
    gap: 30px;
  }

  .textContainer {
    flex: 0.5;
    text-align: left;
    width: 100%;
  }

  .card1,
  .card2,
  .card3 {
    width: 49%;
  }
}

@media screen and (max-width: 768px) {
  .box {
    padding: 50px 5%;
    gap: 0px;
  }

  .textContainer {
    flex: 1;
    text-align: left;
    width: 100%;
  }

  .cardWrapper {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }

  .card1,
  .card2,
  .card3 {
    width: 100%;
  }
}
