.outerBox {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerBox {
  display: flex;
  width: 60%;
  padding: 70px;
  background-color: #f0f5f9;
  flex-direction: column;
  gap: 50px;
}

.row,
.rowReverse {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.rowReverse {
  flex-direction: row-reverse;
}

.textContainer {
  text-align: left;
}

.title {
  font-size: 34px;
  font-weight: 800;
  color: #383b61;
  line-height: 1.2;
  margin-top: 20px;
}

.paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #6a7076;
  margin-top: 15px;
  margin-bottom: 25px;
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #6a7076;
}

.tickIcon {
  margin-right: 15px;
  vertical-align: middle;
}
