.downloadButton {
  display: inline-block;
  height: 42px;
  padding: 0 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 1px;
  line-height: 2.8;
  margin: 15px 0 0 0;
  text-transform: uppercase;
  text-decoration: none !important;
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
  background: #21bf73;
  color: #ffffff !important;
  border: 2px solid #21bf73 !important;
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.conditionsText {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #818198;
  margin-top: 15px;
  margin-bottom: 15px;
}
