.seeMoreButton {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none !important;
  cursor: pointer;
  background: #21bf73;
  color: #ffffff !important;
  border-radius: 5px;
}

.downloadButtonLink {
  text-decoration: none !important;
  color: black !important;
}

.conditionsText {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #818198;
  margin-top: 15px;
  margin-bottom: 15px;
}

.productSection {
  height: 600px;
  width: 100%;
  background-color: #f0f5f9;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 50px 20% 0 20%;
}

.productContent {
  text-align: left;
}

.productText {
  gap: 50px;
}

.productTitle {
  font-size: 36px;
  font-weight: 800;
  color: #3a3a47;
  line-height: 1.2;
  margin-top: 20px;
}

.productLink {
  margin-right: 10px;
  margin-top: 10px;
  background-color: transparent;
  color: #3498db;
  border: 2px solid #3498db;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  text-transform: none;
  text-decoration: none;
}

.downloadLinkContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.downloadButton {
  display: flex;
  flex-direction: row;
  border: gray 2px solid;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  gap: 10px;
  align-items: center;
}

.downloadButtonIcon {
  align-self: center;
}

.downloadButtonText {
  font-size: 12px;
}

.downloadButtonTextBig {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .productSection {
    flex-direction: column;
    padding: 0px 10% 0 10%;
    height: 1000px;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
  }

  .productContent {
    text-align: center;
  }

  .productTitle {
    font-size: 24px;
  }

  .productText {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .productImage {
    width: 250px;
    height: auto;
  }

  .productLink {
    margin: 10px 0px 0px 0px;
  }

  .seeMoreButton {
    font-size: 24px;
  }

  .downloadButtonText {
    font-size: 10px;
    text-align: left;
  }

  .downloadButtonTextBig {
    font-size: 14px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .productSection {
    flex-direction: row;
    height: 500px;
    padding-top: 50px;
    width: 100%;
    padding: 50px 10% 0 10%;
    gap: 0px;
  }

  .productContent {
    text-align: left;
  }

  .productTitle {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .productText {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .productImage {
    width: 200px;
    height: auto;
  }
}

@media screen and (min-width: 1280px) {
  .productSection {
    flex-direction: row;
    height: 650px;
    width: 100%;
    padding: 60px 20% 0 20%;
  }

  .productContent {
    text-align: left;
  }

  .productTitle {
    font-size: 32px;
  }

  .productText {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .productImage {
  }
}
