.downloadButton {
  display: inline-block;
  height: 42px;
  padding: 0 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 1px;
  line-height: 2.8;
  margin: 15px 0 0 0;
  text-transform: uppercase;
  text-decoration: none !important;
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
  background: #21bf73;
  color: #ffffff !important;
  border: 2px solid #21bf73 !important;
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.conditionsText {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #818198;
  margin-top: 15px;
  margin-bottom: 15px;
}

.productSection {
  height: 500px;
  width: 100%;
  background-color: #f0f5f9;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 0 20% 0 20%;
}

.productContent {
  text-align: left;
}

.productText {
  margin-right: 10px;
}

.productTitle {
  font-size: 36px;
  font-weight: 800;
  color: #3a3a47;
  line-height: 1.2;
  margin-top: 20px;
}

.productLink {
  margin-right: 10px;
  background-color: transparent;
  color: #3498db;
  border: 2px solid #3498db;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  text-transform: none;
  text-decoration: none;
}
