.downloadButton {
  background-color: white;
  color: black;
  border: 2px solid #8a8a8a;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.downloadButton:hover {
  background-color: #21bf73;
  border: 2px solid #21bf73;
  color: white;
  transition: 0.2s;
}

.appBar {
  background-color: white !important;
  box-shadow: none !important;
  padding: 0px 10% 0px 10% !important;
}

.toolbar {
  padding: 0px !important;
}

@media screen and (max-width: 600px) {
  .toolbar {
    justify-content: space-between;
  }
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: #21bf73;
  text-transform: uppercase;
  line-height: 1.4;
  flex-grow: 1;
}

.buttons {
  display: flex;
  gap: 5px;
  text-decoration: none !important;
}

.button {
  text-transform: none !important;
}

.popover {
  padding: 20px 5px !important;
  gap: 10px !important;
}
